@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    backdrop-filter: blur(6px);
    background-color: rgba(255,255,255,.5);
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity))
  }
  .glass-thin {
    backdrop-filter: blur(3px);
    background-color: rgba(255,255,255,.3);
  }
  .glass-thick {
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.8);
  }

  .shadow-t-lg {
    box-shadow: 0 10px -15px 5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgba(15,23,42,1);
}
